body {
  background-color: #757db0
}

.title {
  color: #5e648a;
  font-size: 70px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10
}
#currentTime {
  font-weight: 200;
  font-size: 20px;
  color: #403d3d;
}
#currentDate {
    font-weight: bold;
    font-size: 25px;
    color: #403d3d;
    margin-top: 40
}
#usernameInput {
  background-color:#a49b9b;
  color: black;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  width: 223;
  height: 30;
  outline-color: black;
}
.title-2 {
color: #424c8e;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0
}
::placeholder {
  color: black;
  opacity: 0.4
}
html {
  text-align: center
}
.frame-containter {
  border: 4px solid #333333; 
  
  /* 2. Space between the frame border and the content inside */
  padding: 20px;            
  
  /* 3. Space outside the frame to push it away from the screen edges */
  margin: 20px auto;        
  
  /* 4. Controls how wide the frame can get */
  max-width: 270px;         

  max-height: 582px;
  /* Optional: Smooth out the corners of the frame */
  border-radius: 8px;       
  
  /* Optional: Give the inside of the frame a background color */
  background-color: rgb(255 255 255 / 33%);
}

/* Optional: Styles your text box so it's readable over the image */
.content-box {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent white box */
    padding: 30px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 8px;
}
